.product_page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .commentList {
     display: block;
     font-size: 15px;
     margin: 5px 0;
     color: #444;
 }
.price, .desc {
    font-size: 16px;
    margin: 0;
    color: #666;
}

.product_page form button, .addCart {
    background-color: rgb(219, 124, 0);
    color: #fff;
    border: none;
    padding: 10px 20px;

}

.product_page form button {
    font-size: 12px;
    padding: 8px 10px;
}

.desc{
    margin: 5px;
    text-align: center;
}

 .product_page form textarea {
     width: 90%;
     height: 18px;
     margin: 10px 0;
     padding: 10px;
     border: 1px solid #ccc;
     font-size: 15px;
     color: #444;
 }

 .product_page form button {
     background-color: rgb(219, 124, 0);
     color: #fff;
     border: none;
     padding: 10px 20px;

 }

 .product_page form button {
     font-size: 12px;
     padding: 8px 10px;
 }

 .product_page form button:hover {
     background-color: #0056b3;
 }